In [ ]:
import sqlite3 as sql
db=sql.connect("advancepython.db")
cur=db.cursor()
cur.execute("create table Banker(Can_Register varchar(50), Can_Login varchar(50))")

In [7]:
print('''1. Banker
2. Customer''')
role=int(input("Select Your Role: "))
if role==1:
    print('''    1. Can Register 
    2. Can Login 
    3. Can Update all Customers
    4. Can View all Customers
    5. Can Delete all Customers''')
    
    task=int(input("Select Your Task: "))
    if task==1:
        name=input("Enter Your Name: ")
        email=input("Enter Your Email: ")
        password=input("Enter Your Password: ")
        query= f'''insert into banker(login_details, amount) values("{email}{password}","00")'''
        cur.execute(query)
        db.commit()
    elif task==2:
        email=input("Enter Your Email: ")
        password=input("Enter Your Password: ")
        query= f'''insert into banker(login_details, amount) values("{email}{password}","00")'''
        cur.execute(query)
        db.commit()
    elif task==3:
        pass
    elif task==4:
        cur.execute("select login_details from banker")
        data=cur.fetchall()
        print(data)
    elif task==5:
        cur.execute("delete from banker where login_details")
        db.commit()
    else:
        print("Invalid Input")
elif role==2:
    print('''    1. Can Register 
    2. Can Login 
    3. Can Withdraw Amount 
    4. Can deposit amount 
    5. Can view balance ''')
    task=int(input("Select Your Task: "))
    if task==1:
        name=input("Enter Your Name: ")
        email=input("Enter Your Email: ")
        password=input("Enter Your Password: ")
        query= f'''insert into banker(login_details, amount) values("{email}{password}","00")'''
        cur.execute(query)
        db.commit()
        
    elif task==2:
        email=input("Enter Your Email: ")
        password=input("Enter Your Password: ")
        query= f'''insert into banker(login_details, amount) values("{email}{password}","00")'''
        cur.execute(query)
        db.commit()
    elif task==3:
        amount=int(input("Enter Your Withdraw Amount: "))
        cur.execute("select amount from banker")
        old_amount=cur.fetchall()
        old_amount-=amount
        query= f'''update banker set amount="{old_amount}" where login_details= "naresh@gmail.com454545" '''
        cur.execute(query)
        db.commit()
        
    elif task==4:
        amount=int(input("Enter Your Deposite Amount: "))
        cur.execute("select amount from banker")
        old_amount=cur.fetchall()
        old_amount+=amount
        query= f'''update banker set amount="{old_amount}" where login_details= "naresh@gmail.com454545" '''
        cur.execute(query)
        db.commit()
    elif task==5:
        cur.execute("select amount from banker")
        new=cur.fetchall()
        print(f"Your Available Balance Is: {new}")
    else:
        print("Invalid Input")

1. Banker
2. Customer
Select Your Role: 1
    1. Can Register
    2. Can Login
    3. Can Update all Customers
    4. Can View all Customers
    5. Can Delete all Customers
Select Your Task: 4
[('naresh123',)]

In [3]:
import sqlite3 as sql
db=sql.connect("advancepython3.db")
cur=db.cursor()
cur.execute("create table Banker(login_details varchar(50), amount int(10))")

In [6]:
import sqlite3 as sql

In [7]:
db=sql.connect("newdb.db")

In [8]:
cur=db.cursor()

In [ ]:
cur.execute("create table customer(amount int(10))")

In [22]:
cur.execute("select * from banker")

In [23]:
cur.fetchall()

[('naresh@gmail.com454545', 0)]

In [24]:
cur.execute("select amount from banker")
cur.fetchall()

In [25]:
cur.fetchall()

[(0,)]

In [1]:
cur.execute("select * from banker")

NameError: name 'cur' is not defined

In [28]:
cur.fetchall()

[('naresh@gmail.com454545', 0)]

In [31]:
cur.execute('update banker set amount="{2000}" where login_details= "naresh@gmail.com454545" ')

In [7]:
cur.fetchall()

[(0,)]

In [6]:
cur.execute("select amount from banker")

In [8]:
old_amount

[(0,)]

In [1]:
type(old_amount)

NameError: name 'old_amount' is not defined