In [1]:
import sqlite3 as sql

In [2]:
db=sql.connect('mypythondatabase.db')

In [3]:
cur=db.cursor()

In [4]:
cur.execute("create table user (id int, name varchar(25),city varchar(30))")

In [6]:
cur.execute('''insert into user(id,name,city) values(1,"naresh","Rani")''')

In [7]:
db.commit()

In [8]:
cur.execute("select * from user")

In [9]:
cur.fetchall()

[(1, 'naresh', 'Rani')]

In [13]:
cur.execute('''insert into user(id,name,city)values(2,"Kailash","pali")''')

In [14]:
db.commit()

In [18]:
cur.execute("select * from user")

In [16]:
cur.fetchall()

[(1, 'naresh', 'Rani'), (2, 'Kailash', 'pali'), (2, 'Kailash', 'pali')]

In [17]:
cur.execute("delete kailash from user")

OperationalError: near "kailash": syntax error

In [19]:
data=cur.fetchall()

In [20]:
data

[(1, 'naresh', 'Rani'), (2, 'Kailash', 'pali'), (2, 'Kailash', 'pali')]

In [21]:
cur.execute("delete from user where id=2;")

In [22]:
db.commit()

In [23]:
cur.execute("select * from user")

In [24]:
cur.fetchall()

[(1, 'naresh', 'Rani')]

In [26]:
cur.execute("insert into user(id,name,city)values(2,'kailash','Rani')")

In [27]:
db.commit()

In [28]:
cur.execute("select * from user")

In [29]:
cur.fetchall()

[(1, 'naresh', 'Rani'), (2, 'kailash', 'Rani')]